// Colors
$clr1: #10c893;
$clr2: #1f0147;
$clr3: #ab47bc;
$clr4: #ec7965;
$clr5: #107480;
$clr6: #6664f6;
$clr7: #59526a;


$clr8: #FFFBF5;
$clr9: #F7EFE5;
$clr10: #C3ACD0;
$clr11: #674188;



// Padding
$layoutPadding: 32px;

// Breakpoints
$break-narrow: 460px;
$break-normal: 720px;
$break-wide: 960px;
$break-extra-wide: 1520px;